<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>code36</title>
<link rel="stylesheet" href="stylesheets/fuita36.css">
</head>
<body>
<div id="dialog">
  <p class="title">大事なお知らせ</p>
  <p class="textBody"><span class="name">ためふさ しんたろう</span><span class="text">さんが</span></p>
  <p class="textBody"><span>吹きました。</span></p>
</div>
<div id="dialog-overlay"></div>
<div id="wrapper">
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172" class="big"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample2.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample3.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample4.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample5.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample6.gif" width="306" height="172"> </div>
  <div class="pictWrap"> <img src="images/styles/sample1.gif" width="306" height="172"> </div>
</div>
</body>
</html>