<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>code36</title>
<link rel="stylesheet" href="css/fuita36.css">
</head>
<body>
<div id="wrapper">
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample2.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample3.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample4.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample5.gif" width="236" height="134"> </div>
  </div>
  <div class="pictWrap">
    <div class="pict"> <img src="img/sample1.gif" width="236" height="134"> </div>
  </div>
</div>
</body>
</html>